:host {
  margin-bottom: 4rem;

  .navbar {
    width: 100%;
    height: 68px;
    background-color: lightblue;

    &-title {
      margin: auto;
      font-size: 22px;
      font-weight: bold;
    }
  }
}
